{{#if hasBlock}}
  {{yield model this}}
{{else}}
  {{as-calendar/header title=title model=model}}
{{/if}}

{{#as-calendar/timetable
  model=model
  timeZone=timeZone
  timeSlotHeight=timeSlotHeight
  defaultTimeZoneRegexp=defaultTimeZoneRegexp
  onSelectTime="addOccurrence"
  onChangeTimeZone="changeTimeZone" as |day|}}
  <ul class="occurrences">
    {{#each day.occurrences as |occurrence|}}
      <li>
        {{as-calendar/occurrence
          model=occurrence
          timeSlotHeight=timeSlotHeight
          timeSlotDuration=modelTimeSlotDuration}}
      </li>
    {{/each}}
  </ul>
{{/as-calendar/timetable}}
