html {
  box-sizing: border-box;
  font-size: $base-font-size;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  cursor: inherit;
}

h1 {
  margin: 0;
}

ul,
li,
ul li ul,
ul li ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  line-height: $base-line-height;
}
