.as-calendar-timetable-occurrence {
  .resize-handle {
    bottom: 0;
    cursor: ns-resize;
    height: rem-calc(8);
    left: 0;
    position: absolute;
    right: 0;
  }

  &:hover {
    .remove {
      opacity: 1;
    }
  }

  .remove {
    @include single-transition(color, 150ms);
    @include single-transition(opacity, 150ms);
    @include icon(times);

    color: $white;
    opacity: 0;
    position: absolute;
    right: 0;
    top: $column-gutter / 8;

    &:hover {
      background-color: transparent;
      color: darken($alert-color, 10%);
    }
  }
}
