@import 'bower_components/fontawesome/scss/variables';
@import 'bower_components/fontawesome/scss/path';
@import 'bower_components/fontawesome/scss/mixins';
@import 'bower_components/fontawesome/scss/icons';

@import 'addons/ember-calendar/paint-core';
@import 'addons/ember-calendar/main';

html {
  font-size: $base-font-size;
}

body {
  background-color: color(gray, iron);
  cursor: inherit;
  font-family: $base-font-family;
  padding: $column-gutter;

  .as-calendar {
    border-radius: $global-radius;
    overflow: hidden;
  }
}
