@import 'paint-settings';
@import 'bower_components/paint/paint';
@import 'addons/ember-calendar/main';

body {
  background-color: color(iron);
  cursor: inherit;
  padding: $column-gutter;

  .as-calendar {
    border-radius: $global-radius;
    overflow: hidden;
  }
}
