@import 'paint-settings';
@import 'addons/ember-calendar/main';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: color(gray, iron);
  cursor: inherit;
  padding: $column-gutter;

  .as-calendar {
    border-radius: $global-radius;
    overflow: hidden;
  }
}
