.as-calendar-day {
  &.selected .time-slots {
    background-color: $iron;
    opacity: .2;
  }

  h1 {
    font-size: $base-font-size;
  }

  .select {
    line-height: 0;
    padding: $column-gutter / 4 0;
    width: 100%;

    &:before,
    &:after {
      content: '\00a0';
      display: inline-block;
      line-height: $base-line-height;
    }

    input[type=checkbox] {
      display: none;
      margin: 0;

      &:checked + label {
        background-color: rgba($alert-color, .8);
        border-color: $alert-color;
      }

      &:checked + label:before {
        opacity: 1;
      }

      + label {
        @include icon(check);

        background: $ghost;
        border: 1px solid $iron;
        cursor: pointer;
        display: inline-block;
        height: 18px;
        margin: 0 auto;
        user-select: none;
        width: 18px;

        &:before {
          color: $white;
          opacity: 0;
        }
      }
    }
  }

  .time-slots li {
    border: 1px solid $global-section-border-color;
    border-bottom: 0;
    border-right: 0;
    border-top-color: darken($global-section-border-color, 2%);

    &:first-child {
      border-top: 0;
    }

    &:nth-child(even) {
      border-top-color: lighten($global-section-border-color, 3%);
    }
  }
}
