@include bem-block(as-calendar(header, selector)) {
  @extend %grid-row-gutter;

  background-color: color(border, light);
  border-bottom: 1px solid color(gray, gainsboro);

  @include bem-element('nav' 'title') {
    @extend %grid-column-6;

    line-height: as-calendar(header, height);
  }

  @include bem-element('title') {
    font-size: rem(30);
    font-weight: $font-weight-normal;
    padding-left: $column-gutter;
    margin: 0;
  }

  @include bem-element('nav') {
    text-align: right;
    float: right;
  }

  @include bem-element('nav-group') {
    @extend %button-group;
  }

  @include bem-element('nav-group-action') {
    @extend %button;

    @include bem-modifier('previous-week') {
      @include icon('caret-left');
    }

    @include bem-modifier('next-week') {
      @include icon('caret-right');
    }

    @include bem-modifier('current-week') {
      text-transform: uppercase;

      &:disabled {
        color: color(border);
      }
    }
  }
}
