.as-calendar-occurrence {
  background-color: rgba($alert-color, .8);
  border-left: 2px solid darken($alert-color, 5%);
  color: $white;
  padding: 0 $column-gutter / 4;
  position: absolute;
  left: 0;
  right: 0;

  h1 {
    color: $white;
    font-size: .9rem;
    font-weight: $font-weight-extrabold;
  }
}
