.as-calendar-time-zone-option {
  color: color(text) !important;
  font-weight: $font-weight-normal !important;
  padding: $column-gutter / 4 0 !important;

  &.selected {
    font-weight: $font-weight-bold !important;
  }
}
