@include bem-block(as-calendar(timetable, selector)) {
  @include bem-element('row') {
    @extend %grid-row;

    @include bem-modifier('highlighted') {
      background-color: color(gray, white-smoke);
      border-bottom: 1px solid color(gray, gainsboro);
      color: color(text, small);
      font-weight: $font-weight-bold;
      padding: $column-gutter / 3 0;
      text-align: center;
      z-index: 1;
    }
  }

  @include bem-element('first-column') {
    @extend %grid-column-1-collapsed;
  }

  @include bem-element('columns') {
    @extend %grid-column-11;

    position: relative;

    @include bem-modifier('slot') {
      border: 1px solid color(border);
      border-bottom: 0;
      border-right: 0;

      &:first-child {
        border-top: 0;
        visibility: hidden;
      }
    }
  }

  @include bem-element('column-item' 'day') {
    float: left;
    height: 100%;
    position: relative;
    width: (100% / 7);

    @include bem-modifier('highlighted') {
      color: color(link);
    }

    @include bem-modifier('clickable') {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: #008fd9;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid color(border);
    }
  }

  @include bem-element('slots') {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include bem-element('slot-labels') {
    margin-top: -20px !important;
  }

  @include bem-element('slot-label') {
    color: color(text, small);
    font-weight: $font-weight-bold;
    text-align: right;
    padding-right: 7px !important;

    &:first-child {
      color: transparent;
    }
  }

  @include bem-element('slot-item') {
    border: 1px solid color(border);
    border-bottom: 0;
    border-right: 0;

    &:first-child {
      border-top: 0;
    }

    &:nth-child(even) {
      border-top-color: color(border, light);
    }
  }

  @include bem-element('days') {
    height: 100%;
    left: 0;
    // position: absolute;
    top: 0;
    width: 100%;
  }

  @include bem-element('day') {
    border-right: 1px solid color(border);
    height: 100%;
    position: relative;

    @include bem-modifier('today') {
      background-color: rgba(242, 248, 254, .4);
    }

    @include bem-modifier('out-of-period') {
      opacity: 0.5;
    }

    &:last-child {
      border-right: 0;
    }
  }

  @include bem-element('slot-label-hour-marker') {
    position: absolute;
    left: -110px;
    top: 0;
    color: #ff7f6e;
    font-weight: bold;
    background: #fff;
    margin-top: -7px;
    font-size: 17px;
  }

  @include bem-element('today-hour-marker') {
    border: 5px solid #ff7f6e;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    margin-top: -4px;
  }

  @include bem-element('day-hour-marker') {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 0;
    border-top: 2px solid #ff7f6e;
    overflow: hidden;
  }

  @include bem-modifier('day') {
    .as-calendar-timetable__row--highlighted > .as-calendar-timetable__columns {
      width: 100%;
    }

    @include bem-element('column-item' 'day') {
      width: 100%;
      text-align: center;
    }
  }

  @include bem-modifier('week') {
    .as-calendar-timetable__row--highlighted > .as-calendar-timetable__columns {
      left: 10%;
    }
  }

  @include bem-modifier('month') {
    @include bem-element('columns') {
      width: 100%;
    }
    @include bem-element('day') {
      height: 100px;
      border: 1px solid #ececec;
    }
    @include bem-element('day-name') {
      margin: 5px;
      display: block;
      color: #888888;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #008fd9;
      }
    }

    .as-calendar-occurrence--timetable {
      position: initial;
      margin-top: 3px;
    }
  }
}
