.as-calendar-timetable {
  .header.columns,
  > .content-wrapper {
    @extend %grid-row;
  }

  .header.rows,
  .time-zone {
    @extend %grid-column-1-collapsed;
  }

  .day-labels,
  > .content-wrapper > .content {
    @extend %grid-column-11;
  }

  .header.rows,
  .time-zone,
  .day-labels,
  > .content-wrapper > .content {
    &,
    &:last-child {
      padding: 0;
    }
  }

  .time-slot-labels > ul > li,
  .as-calendar-time-zone-select,
  .day-labels > ul > li {
    padding: $column-gutter / 3 0;
  }

  .header {
    color: color(text, small);
    font-weight: $font-weight-bold;
    text-align: center;

    * {
      white-space: nowrap;
    }

    &.columns {
      background-color: color(gray, white-smoke);
      border-bottom: 1px solid color(gray, gainsboro);
    }
  }

  > .content-wrapper > .content > div {
    position: relative;
  }

  .days,
  .day-labels > ul {
    @include clearfix;

    > li {
      float: left;
      width: (100% / 7);
    }
  }

  .days,
  .time-slots {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .day-labels > ul > .today {
    color: color(link);
  }

  .days > li {
    border-right: 1px solid color(border);
    height: 100%;
    position: relative;

    &.today {
      background-color: rgba(242, 248, 254, .4);
    }

    &:last-child {
      border-right: 0;
    }
  }

  .time-slots > li {
    border: 1px solid color(border);
    border-bottom: 0;
    border-right: 0;

    &:first-child {
      border-top: 0;
    }

    &:nth-child(even) {
      border-top-color: color(border, light);
    }
  }

  .time-slot-labels li:first-child {
    color: transparent;
  }
}
