@include bem-block(as-calendar(timetable, selector)) {
  @include bem-element('row') {
    @extend %grid-row;

    @include bem-modifier('highlighted') {
      background-color: color(gray, white-smoke);
      border-bottom: 1px solid color(gray, gainsboro);
      color: color(text, small);
      font-weight: $font-weight-bold;
      padding: $column-gutter / 3 0;
      text-align: center;
      z-index: 1;
    }
  }

  @include bem-element('first-column') {
    @extend %grid-column-1-collapsed;
  }

  @include bem-element('columns') {
    @extend %grid-column-11;

    position: relative;

    @include bem-modifier('slot') {
      border: 1px solid color(border);
      border-bottom: 0;
      border-right: 0;

      &:first-child {
        border-top: 0;
        visibility: hidden;
      }
    }
  }

  @include bem-element('column-item' 'day') {
    float: left;
    height: 100%;
    position: relative;
    width: (100% / 7);

    @include bem-modifier('highlighted') {
      color: color(link);
    }

    @include bem-modifier('clickable') {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: #008fd9;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid color(border);
    }
  }

  @include bem-element('slots') {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    // display: flex;
  }

  @include bem-element('slots-column') {
    flex-grow: 1;
  }

  @include bem-element('slot-label') {
    color: color(text, small);
    text-align: right;
    padding-right: 7px !important;

    @include bem-modifier('is-hidden') {
      opacity: 0;
    }
  }

  @include bem-element('slot-item') {
    border: 1px solid color(border);
    border-bottom: 0;
    border-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      border-top: 0;
    }

    &:nth-child(even) {
      border-top: 1px dotted color(border);
    }

    @include bem-modifier('is-disabled') {
      background: #f2f2f2;
    }

    &:hover {
      background: #53ca53;
      cursor: pointer;
      color: #fff;

      & .as-calendar-timetable__slot-item-time {
        display: block;
      }
    }
  }

  @include bem-element('slot-item-time') {
    display: none;
    text-align: center;
    font-weight: bold;
  }

  @include bem-element('slot-item-check') {
    @include icon(check);
  }

  @include bem-element('days') {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  @include bem-element('day') {
    border-right: 1px solid color(border);
    height: 100%;
    position: relative;

    @include bem-modifier('today') {
      background-color: rgba(242, 248, 254, .4);
    }

    @include bem-modifier('out-of-period') {
      opacity: 0.5;
    }

    &:last-child {
      border-right: 0;
    }
  }

  @include bem-element('day-hour-marker') {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 1;
  }

  @include bem-element('now-time') {
    position: absolute;
    color: #ff7f6e;
    margin-top: -19px;
    width: 10%;
    text-align: right;
    padding-right: 7px;
  }

  @include bem-element('today-marker') {
    border: 4px solid #ff7f6e;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin-top: -4px;
    margin-left: calc(10% - 5px);

    @include bem-modifier('day') {
      @for $i from 1 through 6 {
        &_#{$i} {
          left: $i * (90% / 7);
        }
      }
    }
  }

  @include bem-element('now-line') {
    height: 0;
    border-top: 1px solid #ff7f6e;
    width: 90%;
    left: 10%;
    position: absolute;
  }

  @include bem-modifier('day') {
    .as-calendar-timetable__row--highlighted > .as-calendar-timetable__columns {
      width: 100%;
    }

    @include bem-element('column-item' 'day') {
      width: 100%;
      text-align: center;
    }
  }

  @include bem-modifier('week') {
    .as-calendar-timetable__row--highlighted > .as-calendar-timetable__columns {
      left: 10%;
    }
  }

  @include bem-modifier('month') {
    @include bem-element('columns') {
      width: 100%;
    }
    @include bem-element('day') {
      height: 100px;
      border: 1px solid #ececec;
    }
    @include bem-element('day-name') {
      margin: 5px;
      display: block;
      color: #888888;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #008fd9;
      }
    }

    .as-calendar-occurrence--timetable {
      position: initial;
      margin-top: 3px;
    }
  }
}
