.as-calendar {
  background: $white;

  > header {
    @extend %grid-row;

    background-color: $ghost;
    border: 1px solid $global-section-border-color;

    nav,
    h1 {
      line-height: rem-calc(80);
    }

    h1 {
      @extend %grid-column-6;
    }

    nav {
      @extend %grid-column-6;

      text-align: right;

      > ul {
        @extend %button-group;

        > li {
          padding: $column-gutter / 4 0;
        }
      }

      .previous-week {
        @include button-icon('caret-left');
      }

      .current-week {
        &:disabled {
          color: $global-section-border-color;
        }
      }

      .next-week {
        @include button-icon('caret-right');
      }
    }
  }

  .days {
    @extend %grid-row;

    > header {
      @extend %grid-column-1;
    }

    > div {
      @extend %grid-column-11;

      > ul {
        @include clearfix;

        > li {
          float: left;
          width: (100% / 7);

          &:first-child {
            color: transparent;
          }

          &.selected {
            background-color: $iron;
            opacity: .2;
          }
        }
      }
    }
  }
}
