<header>
  <h1>{{moment value "ddd D MMM"}}</h1>

  <div class="select">
    {{input type="checkbox" id=selectCheckboxId checked=isSelected}}
    <label for="{{selectCheckboxId}}"></label>
  </div>
</header>

<ul class="time-slots">
  {{#each timeSlot in timeSlots}}
    <li style={{timeSlotStyle}}></li>
  {{/each}}
</ul>
