<div class="calendar-day-label">
  {{moment day.localValue "ddd D MMM"}}
</div>

<div class="calendar-day-checkbox">
  {{input type="checkbox" id=checkboxId checked=isSelected}}
  <label for="{{checkboxId}}"></label>
</div>
