{{#rl-dropdown-container class="dropdown-search"}}
  {{#rl-dropdown-toggle tagName="a" class="toggle"}}
    <span>{{selectedOption.abbreviation}}</span>
    <i></i>
  {{/rl-dropdown-toggle}}

  {{#rl-dropdown tagName="ul" class="bottom" closeOnChildClick=true}}
    <li class="input">
      <div class="icon"><i></i></div>
      {{input type="text" value=timeZoneQuery click=onSearchClick placeholder="Search for more timezones"}}
    </li>

    <li class="results">
      <ul>
        {{#each timeZoneOption in filteredTimeZoneOptions class="results"}}
          <li>
            {{as-calendar/time-zone-option
              timeZoneOption=timeZoneOption
              calendar=this}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/rl-dropdown}}
{{/rl-dropdown-container}}
