<ul class="occurrences">
  {{#each occurrence in occurrences}}
    <li>
      {{component occurrence.componentName
        occurrence=occurrence.occurrence
        calendar=calendar}}
    </li>
  {{/each}}
</ul>
