{{#rl-dropdown-container}}
  {{#rl-dropdown-toggle}}
    <span>{{selectedOption.abbreviation}}</span>
    <i></i>
  {{/rl-dropdown-toggle}}

  {{#rl-dropdown closeOnChildClick=".results"}}
    <div class="search">
      <div class="icon"><i></i></div>

      {{input type="text"
        value=query
        click=onSearchClick
        placeholder="Search for more timezones"}}
    </div>

    <div class="results">
      <ul>
        {{#each option in arrangedOptions}}
          <li>
            {{as-calendar/time-zone-option
              option=option
              select=this
              onSelect="onSelectOption"}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/rl-dropdown}}
{{/rl-dropdown-container}}
