{{#rl-dropdown-container dropdownExpanded=showResults}}
  {{#rl-dropdown-toggle}}
    <span>{{selectedOptionAbbreviation}}</span>
    <i></i>
  {{/rl-dropdown-toggle}}

  {{#rl-dropdown closeOnChildClick=".results"}}
    {{#if showResults use="crossFade" containerless=true}}
      {{#if showSearch}}
        <div class="search">
          <div class="icon"><i></i></div>

          {{input type="text"
            value=inputQuery
            key-up="inputQueryChanged"
            placeholder="Search timezones"}}
        </div>
      {{/if}}

      <div class="results">
        <ul>
          {{#each arrangedOptions as |option|}}
            <li>
              {{as-calendar/time-zone-option
                option=option
                select=this
                selectedOption=selectedOption
                tagName="a"
                onSelect=(action this.attrs.onChangeTimeZone)}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/rl-dropdown}}
{{/rl-dropdown-container}}
