{{#unless isInteracting}}
  {{#if isRemovable}}
    <a {{action "remove" bubbles=false}} class="remove"></a>
  {{/if}}

  {{#if isResizable}}
    <div class="resize-handle"></div>
  {{/if}}
{{/unless}}

{{yield}}
